.container_new_task {
    display: flex;
    gap: 0.5rem;
    transform: translateY(-50%);

    input {
        flex: 1;
        padding: 1rem;
        width: 100%;

        background: var(--gray-500);
        color: var(--gray-100);
        border: 1px solid var(--gray-700);
        outline: none;

        &:focus {
            border-color: var(--purple-dark);
            border-radius: 8px;
        }
    }

    button {
        background: var(--blue-dark);
        color: var(--gray-100);
        border: none;
        font-size: 0.875rem;
        font-weight: bold;
        border-radius: 8px;
        padding: 1rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: background 0.1s;

        &:hover {
            background: var(--blue);
        }
    }
}